<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- External -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet" />

    <!-- Internal -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-gray-50 text-gray-800">
    {% include topbar.html %} {% include navbar.html %}

    <main>{{ content }}</main>

    {% include footer.html %}

    <script src="{{ '/js/script.js' | relative_url }}"></script>
  </body>
</html>

